@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.page {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
  background-color: rgb(53, 53, 53);
}

.wrapper-BSG {
  margin-top: 50px;
  margin-inline: auto;
  width: 80%;
}

.boxShadowGen {
  padding: 30px;
  background-color: #fff;
  border-radius: 50px;
}

.boxShadowGen-preview {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxShadowGen-preview__element {
  width: 50px;
  height: 50px;
  background-color: #8a2be2;
}

.boxShadowGen-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
}

.boxShadowGen-property-container {
  display: flex;
  flex-direction: column;
}

.boxShadowGen-property-container_oneline {
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.boxShadowGen-result {
  padding: 2rem;
  display: grid;
  grid-template-columns: 10fr 2fr;
  column-gap: 1rem;
}

.boxShadowGen-result__css {
  resize: none;
  padding: 0.5em;
  outline: none;
  border-radius: 10px;
}

.boxShadowGen-result__btn-copy {
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}
